<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini-WP</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>All Chats:</h1>
    <form action="http://localhost:8080/chats/new" method="get">
      <button>Create New Msg.</button>
    </form> <br>

    <% for( chat of result ) { %>
    <div class="chat-box">
      From : <%= chat.from %> <br />
      To : <%= chat.to %>
      <p class="msg-box">Message : <%= chat.msg %></p>
      <hr />
      <%= chat.created_at.toString().split(" ")[4] %> <br />
      <%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %>
      <form action="/chats/<%=chat.id%>/edit" method="get">
        <button>Edit</button>
      </form>
      <form action="/chats/<%=chat.id%>?_method=DELETE" method="POST">
        <button>Delete</button>
      </form>
    </div>
    <hr />

    <% } %>
  </body>
</html>
